html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.container-main {
  max-width: 1280px;
  margin: 0 auto;

}

/* header style start */

.header {
	padding-top: 30px;
	
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 0 40px;
}
.header-logo {
  display: flex;
  flex-direction: column;
	max-width: 184px;
	height: 60px;
}
.logo-title {
	width: 184px;
	height: 35px;
}
.name-adress-title {
	width: 179px;
	height: 15px;
	padding-top: 10px;
}
.header-nav {
  display: flex;
  flex-wrap: wrap; 
	width: 443px;
	height: 27px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
	flex-wrap: wrap; 
	}
.nav-link {
  color: #cdcdcd;
  text-decoration: none;
}
.nav-link:active {
  color: #fafafa;
  border-bottom: solid #f1cdb3;
  width: 114px;
  height: 3px;
}

.background-container {
  background: linear-gradient(0deg, rgba(33, 31, 32, 0.5), rgba(33, 31, 32, 0.5)),
              radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
/* header style end*/

/* start-page style start*/

.start-page {
	width: 100%;
	height: 818px;
}
.container-not-only {
	display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 0 40px;
	padding-top: 90px;
	color: #fafafa;
}
.not-only {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 460px;
	gap: 42px;
	flex-wrap: wrap;
  top: -45px;
}
.img-puppy {
	display: block;
	justify-content: flex-end;
}
.start-screen-puppy img {
width: 698px;
height: 728px;
}
h1 {
	width: 310px;
	height: 114px;
	font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57.2px;
	color:#FFFFFF;
}
.make-friend {
width: 207px;
height: 52px;
padding: 15px 45px 15px 45px;
gap: 10px;
white-space: nowrap;
border-radius: 100px;
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
text-align: left;
color: #292929;
background-color: #F1CDB3;
border: none; 
outline: none; 
}
.make-friend:hover {
  background-color: #e2a980;
}
.make-friend:active {
  background-color: #d99670;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
/* start-page style end*/

/* section about style start*/
.container-about {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 120px;
	height: 588px;
	background-color: #FFFFFF;
}
.about-img img {
	width: 300px;
	height: 408px;
}
.h3-about {
width: 370px;
height: 90px;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.5px;
letter-spacing: 0.06em;
text-align: left;
color:#545454;
}
.about-text {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 430px;
	height: 380px;
	color: #4C4C4C;
}
/* section about style end*/

/* section our-friends start*/
.container-our-friends-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 877px;
	padding: 0 40px;
	background-color: #F6F6F6;
}
.container-our-friends-column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
	gap:60px;
	text-align: center;
}
.container-article-pet-description {
	display: flex;
	justify-content: space-around;
	align-items:center;
	text-align: center;
	gap: 60px;
}
.pet-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap:30px;
	width: 270px;
	height: 435px;
	overflow: hidden;
	background-color: #FAFAFA;
	border: 2px solid transparent;
}
.pet-description:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #e2a980;
}
@keyframes border-anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.h3-our-friends {
width: 400px;
height: 90px;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.5px;
letter-spacing: 0.06em;
text-align: center;
color: #545454;
}
.screen-pet-our-friends img {
width: 270px;
height: 270px;
}
.name-pet {
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 22.72px;
letter-spacing: 0.06em;
text-align: center;
}
.arrow, .button-pet-description {
  align-self: center; 
}
.button-pet-description {
width: 187px;
height: 52px;
padding: 15px 45px 15px 45px;
gap: 10px;
border-radius: 100px;
border: 2px 0px 0px 0px;
opacity: 0px;
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
text-align: left;
border:2px solid #F1CDB3;
white-space: nowrap;
background-color: #FAFAFA;
}
.button-pet-description:hover {
  background-color: #fcf8f8;
}
.button-pet-description:active {
  background-color: #FFFFFF;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
.get-to-know {
width: 261px;
height: 52px;
top: 645px;
left: 470px;
padding: 15px 45px 15px 45px;
gap: 10px;
border-radius: 100px;
opacity: 0px;
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
text-align: left;
white-space: nowrap;
background-color: #F1CDB3;
border: none; 
outline: none; 
}
.get-to-know:hover {
  background-color: #e2a980;
}
.get-to-know:active {
  background-color: #d99670;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
.arrow {
display: flex;
justify-content: center;
align-items: center;
width: 52px;
height: 52px;
top: 192px;
padding: 23px 19px 23px 19px;
gap: 0px;
border-radius: 100px;
border: 2px 0px 0px 0px;
opacity: 0px;
border:2px solid #F1CDB3;
white-space: nowrap;
background-color: #F6F6F6;
}
.arrow:hover {
  background-color: #fcf8f8;
	border: 2px solid #e2a980;
}
.arrow:active {
  background-color: #FFFFFF;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
/* section our-friends end*/

/* section help start*/
.container-help-main {
	display: flex;
  flex-direction: column;
  align-items: center;
	height: 611px;
}
.container-help {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 55px;
	width: 1200px;
	height: 431px;
}
.h3-help {
	width: 310px;
	height: 90px;
	justify-content: center;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 90px;
	font-family: Georgia;
	font-size: 35px;
	font-weight: 400;
	line-height: 45.5px;
	letter-spacing: 0.06em;
	color:#545454;
	}
	.name-help {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
	}
	.container-help-description-first-row, .container-help-description-second-row {
		display: flex;
		flex-direction: row;
		padding: 0 127px;
	}
	.container-help-description-first-row {
		justify-content: space-between;
	}
	.container-help-description-second-row {
		justify-content: space-around;
	}
  .help-description {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap:30px;
	}
	

	/* section help end*/