html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.container-main {
  max-width: 1280px;
	height: 5000px;
  margin: 0 auto;
}

/* header style start */

.header {
	margin-top: 30px;
	
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 0 40px;
}
.header-logo {
  display: flex;
  flex-direction: column;
	max-width: 184px;
	height: 60px;
}
.logo-title {
	width: 184px;
	height: 35px;
}
.name-adress-title {
	width: 179px;
	height: 15px;
	padding-top: 10px;
}
.header-nav {
  display: flex;
  flex-wrap: wrap; 
	width: 443px;
	height: 27px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
	flex-wrap: wrap; 
	}
.nav-link {
  color: #cdcdcd;
  text-decoration: none;
}
.nav-link:active {
  color: #fafafa;
  border-bottom: solid #f1cdb3;
  width: 114px;
  height: 3px;
}

/* header style end*/

/* start-page style start*/

.main {
	width: 100%;
}

.start-page {
	width: 100%;
	height: 100vh;
	background: 
	linear-gradient(0deg, rgba(33, 31, 32, 0.5), rgba(33, 31, 32, 0.5)), 
	radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

/* start-page style end*/
