html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
		overflow-x: hidden;
		font-family: Arial;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
}
.container-main {
  max-width: 1280px;
  margin: 0 auto;
}
/* header style start */
.header {
	padding-top: 2.3%;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 0 3.3%;
}
.header-logo {
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	max-width: 184px;
	height: 60px;
}
.logo-title {
	width: 184px;
	height: 35px;
	padding-top: 3px;
}
.name-adress-title {
	width: 179px;
	height: 15px;
}
.header-nav {
  display: flex;
  flex-wrap: wrap; 
	width: 36.91%;
	height: 3.2%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
	flex-wrap: wrap; 
}
.nav-link {
  color: #cdcdcd;
  text-decoration: none;
}
.nav-list-item.active a,
.nav-link:active {
  color: #fafafa;
  border-bottom: solid #f1cdb3;
  width: 114px;
  height: 3px;
}
.nav-link:hover {
	color: #fafafa;
}
.background-container {
  background: linear-gradient(0deg, rgba(33, 31, 32, 0.5), rgba(33, 31, 32, 0.5)),
              radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.our-friends .nav-link {
	color: #545454;
}
.header-nav .our-friends .nav-list-item.active-our-friend .nav-link, .nav-list-item our-friend:active {
	color: #292929;
	border-bottom: solid #f1cdb3;
}
.header-nav .nav-list.our-friends .nav-list-item.our-friend .nav-link:hover
 {
    color: #292929;
}
.burger-menu {
  display: none;
  flex-direction: column;
	justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
	position: relative;
	z-index: 1001;
	transition: transform 0.8s ease;
}
.burger-bar {
  width: 30px;
  height: 3px;
  background-color: #f1cdb3;
  border-radius: 10px;
	transition: transform 0.8s ease, width 0.8s ease; 
}
.burger-menu.active {
  height:100px; 
	width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	transition: transform 2s ease;
}
.burger-menu.active .burger-bar {
  transform: rotate(90deg);
	transform-origin: center;
	
}
.burger-menu.active .burger-bar:not(:last-child) {
  margin-right: 10%;
}
.burger-menu.active .burger-bar:last-child {
	margin-left: -35%;
}
.burger-menu.active .burger-bar:nth-child(2) {
	margin-left: -35%;
}

.close-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
	z-index: 1002;
	
}
.close-menu .burger-bar {
  width: 3px;
  height: 100%;
  background-color: #cdcdcd;
	border-radius: 10px;
	transform: rotate(90deg);
}
/* header style end*/

/* start-page style start*/
.start-page {
	width: 100%;
	height: 818px;
}
.container-not-only {
	display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 0 3.15%;
	padding-top: 7.2%;
	color: #fafafa;
}
.not-only {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 39.44%;
	gap: 42px;
	flex-wrap: wrap;
  top: -45px;
}
.img-puppy {
	display: block;
	justify-content: flex-end;
}
.start-screen-puppy img {
width: 698px;
height: 728px;
}
h1 {
	width: 72.22%;
	height: 19.5%;
	font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57.2px;
	color:#FFFFFF;
}
.make-friend {
width: 44.0%;
height: 52px;
padding: 15px 45px 15px 45px;
gap: 10px;
white-space: nowrap;
border-radius: 100px;
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
text-align: center;
color: #292929;
background-color: #F1CDB3;
border: none; 
outline: none; 
transition: 0.6s;
}
.make-friend:hover {
  background-color: #e2a980;
}
.make-friend:active {
  background-color: #d99670;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
/* start-page style end*/

/* section about style start*/
.container-about {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 120px;
	padding-bottom: 20px;
	height: 588px;
	background-color: #FFFFFF;
}
.about-img img {
	width: 300px;
	height: 408px;
}
.h3-about {
width: 370px;
height: 90px;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.5px;
letter-spacing: 0.06em;
text-align: left;
color:#545454;
}
.about-text {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 430px;
	height: 380px;
	color: #4C4C4C;
}
/* section about style end*/

/* section our-friends start*/
.container-our-friends-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 877px;
	padding: 0 3.2%;
	padding-top: 5.1%;
	background-color: #F6F6F6;
}
.container-our-friends-column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
	gap:60px;
	padding-bottom: 7.6%;
	text-align: center;
}
.container-article-pet-description {
	display: flex;
	justify-content: space-around;
	align-items:center;
	text-align: center;
	gap: 90px;
}
.pet-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap:20px;
	width: 270px;
	height: 435px;
	overflow: hidden;
	background-color: #FAFAFA;
	border: 2px solid transparent;
	transition: 1.4s;
}
.pet-description:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #e2a980;
}
.h3-our-friends {
width: 400px;
height: 90px;
padding-top: 12px;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.5px;
letter-spacing: 0.06em;
text-align: center;
color: #545454;
}
.screen-pet-our-friends img {
width: 270px;
height: 270px;
}
.name-pet {
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 22.72px;
letter-spacing: 0.06em;
text-align: center;
}
.arrow, .button-pet-description {
  align-self: center; 
}
.button-pet-description {
width: 187px;
height: 52px;
padding: 15px 45px 15px 45px;
gap: 10px;
border-radius: 100px;
border: 2px;
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
text-align: left;
border:2px solid #F1CDB3;
white-space: nowrap;
background-color: #FAFAFA;
}
.button-pet-description:hover {
  background-color: #fcf8f8;
}
.button-pet-description:active {
  background-color: #FFFFFF;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
.get-to-know {
width: 261px;
height: 52px;
top: 645px;
left: 470px;
padding: 9px 45px 15px 45px;
gap: 10px;
border-radius: 100px;
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
text-align: left;
white-space: nowrap;
background-color: #F1CDB3;
border: none; 
outline: none;
transition: 0.6s;
}
.get-to-know:hover {
  background-color: #e2a980;
}
.get-to-know:active {
  background-color: #d99670;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
.arrow {
display: flex;
justify-content: center;
align-items: center;
width: 52px;
height: 52px;
margin-top: -35px;
padding: 23px 19px 23px 19px;
gap: 0px;
border-radius: 100px;
border: 2px;
border:2px solid #F1CDB3;
white-space: nowrap;
background-color: #F6F6F6;
transition: 0.6s;
}
.arrow:hover {
  background-color: #fcf8f8;
	border: 2px solid #e2a980;
}
.arrow:active {
  background-color: #FFFFFF;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(2px); 
}
.arrow-container {
	display: none;
}
/* section our-friends end*/

/* section help start*/
.container-help-main {
	display: flex;
  flex-direction: column;
  align-items: center;
	height: 611px;
	background-color: #FFFFFF;
}
.container-help {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 55px;
	width: 92.75%;
	height: 431px;
}
.h3-help {
	width: 310px;
	height: 90px;
	justify-content: center;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 90px;
	font-family: Georgia;
	font-size: 35px;
	font-weight: 400;
	line-height: 45.5px;
	letter-spacing: 0.06em;
	color:#545454;
	}
	.name-help {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
	}
	.container-help-description-first-row, .container-help-description-second-row {
		display: flex;
		flex-direction: row;
		padding: 0 80px;
	}
	.container-help-description-first-row {
		justify-content: space-between;
	}
	.container-help-description-second-row {
		justify-content: space-around;
		padding-bottom: 35px;
	}
  .help-description {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap:20px;
	}
	.container-help-mobile {
		display: none;
	}
	/* section help end*/

	/* in-addition start*/
	.container-in-addition-main {
		display: flex;
		justify-content: center;
		align-items:center;
		height: 462px;
		background-color: #F6F6F6;
	}
	.container-in-addition {
		display: flex;
		width: 915px;
		height: 282px;
		justify-content:center;
		gap:30px;
	}
	.dog-in-addition img {
		width: 505px;
		height: 261px;
	}
	.h3-in-addition {
	 width: 300px;
	 height: 90px;
   font-family: Georgia;
   font-size: 35px;
   font-weight: 400;
   line-height: 45.5px;
   letter-spacing: 0.06em;
   text-align: left;
	 color: #545454;
	}
	.h5-in-addition {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  text-align: left;
	color: #545454;
	}
	.h3-in-addition {
    transform: translateY(-10px);
}
.h5-in-addition {
	transform: translateY(-5px);
}  
	.number-credit-card img {
		width: 30px;
		height: 23px;
	}
	.info-card {
	font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
	color: #B2B2B2;
	}
	.info-in-addition {
	display: flex;
	flex-direction: column;
	gap:15px;
	width: 380px;
	height: 282px;
	}
	.credit-card {
	display: flex;
	flex-direction: column;
	gap:20px;
	}
	.line-credit-card {
	display: flex;
	gap:10px;
	padding-left: 10px;
	width: 349px;
  height: 43px;
  top: 147px;
  padding: 10px 15px 10px 15px;
  border-radius: 9px;
	background-color: #F1CDB3;
	transition: 0.8s;
	}
	.number-credit-card {
	text-decoration: none;
	color: inherit;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
	}
	.line-credit-card:hover {
		background-color: #e2a980;
	}
	/* in-addition help end*/

	/* footer start*/
	.footer {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 350px;
		margin: 0 auto;
		background: linear-gradient(0deg, rgba(33, 31, 32, 0.5), rgba(33, 31, 32, 0.5)),
		radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
	}
	.container-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 157px;
		width: 100%;
		max-width: 1200px;
		height: 310px;
		padding-top: 65px;
	}
	.footer-dog {
		padding-top: 20px;
	}
	.footer-dog-img img {
		width: 300px;
		height: 310px;
	}
	.h3-title-questions, .h3-title-visit {
   font-family: Georgia;
   font-size: 35px;
   font-weight: 400;
   line-height: 45.5px;
   letter-spacing: 0.06em;
   text-align: left;
	 color: #FFFFFF;
	}
	.h3-title-visit {
		width: 100%;
		max-width: 278px;
		transform: translateY(-15px);

}
	.line-email, .line-phone, .line-first-adress, .line-second-adress {
	 display: flex;
   align-items: center; 
   gap: 20px;
	 font-family: Georgia;
	 font-size: 20px;
	 font-weight: 400;
	 line-height: 23px;
	 letter-spacing: 0.06em;
	 text-align: left;
	 color: #F1CDB3;
	}
	.line-email:hover, .line-phone:hover, .line-first-adress:hover, .line-second-adress:hover {
		color: #FFFFFF;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	.line-first-adress, .line-second-adress {
		transform: translateY(-5px);
	}
	.for-questions, .visit-contacts {
		display: flex;
		flex-direction: column;
	}
	.for-questions {
		gap:35px;
		transform: translateY(-12px);
		white-space: nowrap;
	}
	.visit-contacts {
		gap:27px;
		transform: translate(-8px, -5px);
	}
	/* footer end*/

	/* friends start*/
	.friends {
		width: 100%;
    max-width: 1280px;
		height: 1370px;
		background-color: #F6F6F6;
	}
	.container-friends {
		display: flex;
		flex-direction: column;
		gap: 45px;
		justify-content: space-around;
		align-items: center;
		width: 100%;
    max-width: 1200px;
		height: 1164px;
		margin: 0 auto;
		padding-top: 100px;
	}
	.container-article-pet-description-friends {
		display: flex;
		flex-direction: row;
		gap:40px;
		row-gap: 40px;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
    max-width: 1200px;
		height: 930px;
		transform: translateY(25px);
	}
	.container-article-pet-description-friends > .pet-description:nth-child(n + 5) {
		transform: translateY(-15px); 
}
	.container-buttons-arrow {
		display: flex;
		flex-direction: row;
		gap: 20px;
		padding-top: 60px;
	}
	.activ-button {
		background-color: #F1CDB3;
	}
	.arrow:disabled {
    background-color: #ebebeb; 
    color: #CDCDCD; 
    cursor: not-allowed;
		border: 0px;
	}
	/* friends end*/

	/* media 1165px header start*/
	@media screen and (max-width: 1165px) {
		.nav-list {
			gap: 30px;
			flex-wrap: nowrap;
			
		}
		.container-header {
			gap: 81px;
			padding-top:1.60%;
			padding-left: 4%;
		}
		.header-nav {
			width: 65%;
		}
		.logo-title {
			padding-top: 7px;
		}
	}
	/* media 1165px header end*/
	
/* media 1165px start-page start*/
@media screen and (max-width: 1165px) {
	.start-page {
		height: auto;
	}
	.container-not-only {
		flex-direction: column;
		padding: 0 20.65%;
		padding-top: 7.2%;
	}
	.not-only {
		flex-direction: column;
		width: 100%;
		gap: 42px;
		top: 5px;
	}
	.img-puppy {
		display: block;
		justify-content: flex-end;
	}
	.start-screen-puppy img {
	width: 698px;
	height: 692px;
	padding-top: 14%;
	padding-left: 20%;
	}
	.make-friend {
	position: relative;
	left: 28%;
	width: 46%;
	}
}
/* media 1165px start-page end*/

/* media 1165px about start*/
@media screen and (max-width: 1165px) {
.container-about {
	flex-direction: column;
	gap: 40px;
	padding-top: 9.8%;
	height: auto;
	padding-bottom: 12.8%;
}
.about-img img {
	width: 100%;
	height: 100%;
	padding-left: 1.5%;
}
}
/* media 1165px about end*/

/* media 1165px our friend start*/
@media screen and (max-width: 1165px) {
	.container-our-friends-row {
		height: auto;
		padding: 0 3.2%;
		padding-top: 9%;
		gap: 15px;
		padding-bottom: 6.3%;
	}
	.container-our-friends-column {
		gap:60px;
		padding-bottom: 7.6%;
		text-align: center;
	}
	.container-article-pet-description {
		gap: 43px;
	}
	.h3-our-friends {
	width: 100%;
	height: 100%;
	}
	.woody {
		display: none;
	}
	.screen-pet-our-friends img {
	width: 270px;
	height: 270px;
	}
	.arrow {
	margin-top: -8px;
	}
}
/* media 1165px our friend end */

/* media 1165px help start */
@media screen and (max-width: 1165px) {
	.container-help-main {
		height: auto;
		padding-bottom:10.7%;
	}
	.container-help {
		gap: 45px;
		width: 92.75%;
		height: auto;
		padding-top: 8.7%;
	}
	.container-help {
		display: none;
	}
		.container-help-mobile {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr; 
			gap: 65px; 
			padding-top: 8%;
		}
}
/* media 1165p help end */

/* media 1165p in-addition start */
@media screen and (max-width: 1165px) {
	.container-in-addition-main {
	justify-content: center;
	align-items:center;
	height: auto;
}
.container-in-addition {
	flex-direction: column-reverse;
	height: auto;
	justify-content:center;
	align-items: center;
	padding-top: 12%;
	padding-left: 3%;
	padding-bottom: 3%;
}
.dog-in-addition {
	padding-bottom: 12%;
	transform: translateY(22px);
}
.dog-in-addition img {
	width: 100%;
	height: 100%;
}
}
/* media 1165p in-addition end */

/* media 1165p footer start */
@media screen and (max-width: 1165px) {
	.footer {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 639px;
		margin: 0 auto;
		padding-bottom: 10%;
	}
	.container-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap:55px;
		padding-top: 30px;
		flex-wrap: wrap;
	}
	.footer-dog {
		transform: translateY(-20px);
	}
	.footer-dog-img img {
		width: 300px;
		height: 310px;
	}
	.for-questions {
		gap:40px;
		transform: translateX(-15px);
		transform: translateY(3px);
		width: 278px;
		white-space: nowrap;
	}
	.visit-contacts {
		transform: translateX(-10px);
		transform: translateY(15px);
		gap:15px;
		width: 270px;
	}
}
/* media 1165p footer end */

/* media 1165p friend start */
@media screen and (max-width: 1165px) {
	.friends {
		padding: 0 15px;
		padding-top: 6.2%;
		height: auto;
}
.container-friends {
		padding-top: 50px;
		gap: 5px;
		height: auto;
}
.h3-our-friends {
		text-align: center;
		max-width: 100%;
}
.container-article-pet-description-friends {
		gap: 30px;
		justify-content: center;
		height: auto;
	  padding-bottom: 3.5%;
}
.container-buttons-arrow {
		padding-top: 30px;
		gap: 20px;
		padding-bottom: 11.2%;
}
.Scarlett, .Freddie {
	display: none;
}
.container-article-pet-description-friends > .pet-description:nth-child(n + 5) {
	transform: translateY(0px); 
}
}
/* media 1165p friend end */

@media (max-width: 759px) {
	.header-nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #292929;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  .header-nav.active {
    display: flex;
		transition: all 2s ease;
  }
  .burger-menu {
    display: flex;
		transition: all 0.7s ease;
  }
	.burger-menu {
		width: 100%;
		height: 21px;
		position: absolute;
    left: 85%;
}
  .nav-list {
    flex-direction: column;
    gap: 20px;
  }
  .nav-list-item {
    text-align: center;
  }
	.our-friends .nav-link,  .nav-list-item our-friend:active{
		color: #CDCDCD;
	}
	.header-nav .our-friends .nav-list-item.active-our-friend .nav-link, .nav-list-item our-friend:active {
		color: #CDCDCD;
	}
	.header-nav .nav-list.our-friends .nav-list-item.our-friend .nav-link:hover
 {
    color: #FAFAFA;
}
.close-menu {
	display: flex;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); 
	display: none; 
	z-index: 999; 
}
.no-scroll {
	overflow: hidden; 
}
}

/* media 759 header start*/
@media screen and (max-width: 759px) {
	.container-header {
		gap: 66px;
		padding-left: 7%;
	}
	.logo-title {
		padding-top: 12%;
	}
	.header-logo {
		gap: 20px;
	}

/* media 759 header end*/

/* media 759 start-page start*/
@media screen and (max-width: 759px) {
	.not-only {
		justify-content: center;
		width: 100%;
		height: auto;
		gap: 42px;
		padding-top: 25%;
	}
	.start-screen-puppy img {
	width: 100%;
	height: 100%;
	}
	h1 {
	width:100%;
	height: 19.5%;
  font-family: Georgia;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: 0.06em;
  text-align: center;
	}
	.make-friend {
	width: 44.4%;
	height: auto;
	text-align: center;
	justify-self: center;
	transform: translate(-29px, -22px);
	}
	.container-not-only {
		flex-direction: column;
		padding: 0 20px;
		width: 100%;
	}
	.img-puppy {
		padding-top: 28%;
	}
}
/* media 759 start-page end*/

	/* media 759 about start*/
@media screen and (max-width: 759px) {
	.container-about {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		gap: 40px;
		padding-top: 12.8%;
		padding-bottom: 12.8%;
		padding-left: 25px;
		padding-right: 25px;
		height: auto;
	}
	.about-img {
		padding-top: 26%;
	}
	.about-img img {
		width: 100%;
		height: 100%;
		padding-left: 1.5%;
	
	}
	.about-text {
		width: 100%;
		text-align: justify;
		padding-bottom: 10%;
	}
	.h3-about {
   font-family: Georgia;
   font-size: 25px;
   font-weight: 400;
   line-height: 32.5px;
   letter-spacing: 0.06em;
	 width: 100%;
	 text-align: center;
	}
	}
	/* media 759 about end*/
	
/* media 759 our friend start*/
@media screen and (max-width: 759px) {
	.container-our-friends-row {
		display: flex;
		flex-direction: column;
		position: relative;
		height: auto; 
		padding-top: 9%;
		gap: 15px;
		padding-bottom: 40px;
		z-index: 1004;
		}
	.container-our-friends-column {
		width: 100%;
		gap:60px;
		text-align: center;
	}
	.container-article-pet-description {
		gap: 43px;
		transform: translateY(-22px);
	}
	.h3-our-friends {
	width: 100%;
	height: 100%;
  font-family: Georgia;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: 0.06em;
  text-align: center;
	}
	.woody, .jennifer,.arrow {
		display: none;
	}
	.screen-pet-our-friends img {
	width: 270px;
	height: 270px;
	}
	.arrow-container {
		display: flex;
    justify-content: center;
    gap: 80px; 
		transform: translateY(-52px);
	}
	.arrow-container .arrow {
    display: inline-flex;
  }
	.get-to-know {
		transform: translateY(-67px);
	}
}
/* media 759 our friend end */

/* media 759 help start */
@media screen and (max-width: 759px) {
	.container-help-main {
		width: 100%;
		height: auto;
		padding-left: 15px;
		padding-right: 15px;
		transform: translateY(-40px);
		padding-bottom: 0;
	}
	.name-help {
   font-family: Georgia;
   font-size: 15px;
   font-weight: 400;
   line-height: 16.5px;
   letter-spacing: 0.06em;
   text-align: center;
	 white-space: nowrap;
	}
	.screen-help img {
  width: 50px;
  height: 50px;
	}
	.container-help {
		display: none;
	}
	.h3-help {
	 width: 80%;
   margin-left: 2%;
   font-family: Georgia;
   font-size: 25px;
   font-weight: 400;
   line-height: 32.5px;
   letter-spacing: 0.06em;
   text-align: center;
	}
		.container-help-mobile {
			display: grid;
			grid-template-columns: 1fr 1fr; 
			gap: 40px; 
			grid-row-gap: 20px; 
			padding-left: 15px;
			padding-right: 15px;
		}
}
/* media 759 help end */

/* media 759 in-addition start */
@media screen and (max-width: 759px) {
	.container-in-addition-main {
	width: 100%;
	justify-content: center;
	align-items:center;
	height: auto;
	position: relative; 
	padding-left: 20px; 
	padding-right: 20px; 
	padding-bottom: 3%;
}
.container-in-addition {
	width: 100%;
	flex-direction: column-reverse;
	height: auto;
	justify-content:center;
	align-items: center;
}
.info-in-addition {
	width: 100%;
	position: relative; 
	box-sizing: border-box;
	top: 17px; 
	justify-content:center;
	align-items: center;
}
.dog-in-addition {
	padding-bottom: 12%;
	transform: translateY(22px);
}
.dog-in-addition img {
	width: 100%;
	height: 100%;
}
.h3-in-addition {
	width: 100%;
	text-align: center;
	font-family: Georgia;
	font-size: 25px;
	font-weight: 400;
	line-height: 32.5px;
	letter-spacing: 0.06em;
 }
 .h5-in-addition, .line-credit-card {
	text-align: center;
	font-family: Georgia;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	font-family: Georgia;
	letter-spacing: 0.06em;
	align-self: flex-start;
	white-space: nowrap;
 }
 
.number-credit-card {
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 16.5px;
letter-spacing: 0.06em;
text-align: left;
}	
.info-card {
width: 100%;
font-family: Arial;
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: 18px;
text-align: justify;
 }
	.card-img img {
		width: 30px;
		height: 23px;
	}
 }
 /* media 759 in-addition end */

/* media 759 footer start */
@media screen and (max-width: 759px) {
	.footer {
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding-bottom: 0px;
	}
	.container-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap:35px;
		padding-top: 30px;
		flex-wrap: wrap;
		height: auto;
	}
	.footer-dog {
		transform: translateY(-15px);
	}
	.footer-dog-img img {
		width:260px;
		height:269px;
	}
	.h3-title-questions, .h3-title-visit {
   font-family: Georgia;
   font-size: 25px;
   font-weight: 400;
   line-height: 32.5px;
   letter-spacing: 0.06em;
   text-align: center;
	}
	.for-questions, .visit-contacts {
		justify-content: center;
		align-items: center;
	}
	.visit-contacts {
		gap: 20px;
	}
}
/* media 759 footer end */

/* media 759 friend start */
@media screen and (max-width: 759px) {
.container-buttons-arrow {
	width: 100%;
	height: auto;
	padding-top: 30px;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Scarlett, .Freddie, .Sophia, .Timmy, .Charly {
	display: none;
}
#friends .container-buttons-arrow .arrow {
	display: flex;
  justify-content: center; 
  align-items: center; 
	text-align: center;
}
.container-friends {
	padding-top: 20%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5.5%;
}
.container-article-pet-description-friends {
	transform: translateY(-2.5px);
}
.h3-our-friends our {
	white-space: nowrap;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); 
	display: none; 
	z-index: 999; 
}
.no-scroll {
	overflow: hidden; 
}
}
/* media 759 friend end */

@media screen and (max-width: 375px) {
	.container-our-friends-row {
	max-height: 791px; 
	}
}

@media screen and (max-width: 768px) {
	.container-help-main {
		max-height: 819px;
	}
}
}
/* media 375 start-page end*/
@media screen and (max-width: 440px) {
	.make-friend {
	width: 70%;
}
}
/* media 759 start-page end*/