html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Start body */
.container-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/pexels1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
/* End body */

/* Start container-card */
.memory-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  gap: 20px;
}
/* End container-card */

/* Start card */
.memory-card {
  width: 130px;
  height: 130px;
  background-color: white;
  display: block;
  border-radius: 20px;
  transform: rotateY(
    180deg
  ); /* начальное состояние карты - карточки лицом вниз */
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}
.memory-card.flip {
  transform: rotateY(0deg); /* поворот при клике */
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden; /* скрывает обратную сторону при перевороте!!!! */
  box-shadow: -1px -1px 11px #0099cc;
}
.front-face {
  transform: rotateY(0deg); /* начальное состояние лицевой стороны */
}
.back-face {
  transform: rotateY(180deg); /* начальное состояние обратной стороны */
}
/* End card */

/* Start Result */
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.results {
  margin-top: 20px;
  text-align: center;
  border: 2px solid #0099cc;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin: 20px auto;
  padding: 10px 20px;
  transition: background-color 0.8s, color 0.8s;
  border-radius: 20px;
}
.results h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.results div {
  margin: 5px 0;
}
#reset-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #0099cc;
  color: black;
  border-radius: 20px;
  transition: background-color 0.8s, color 0.8s;
  width: 200px;
  height: 60px;
  font-weight: bold;
}
.results:hover {
  background-color: #0099cc;
  color: white;
}
#reset-button:hover {
  background-color: #0099cc;
  color: white;
}

/* End Result */
@media (max-width: 1235px) {
  .memory-card {
    width: 110px;
    height: 110px;
  }
  .memory-game {
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .memory-card {
    width: 100px;
    height: 100px;
  }
  .memory-game {
    gap: 10px;
  }
}
@media (max-width: 734px) {
  .memory-card {
    width: 90px;
    height: 90px;
  }
  .memory-game {
    gap: 10px;
  }
  #reset-button {
    font-size: 12px;
    width: 150px;
    height: 60px;
  }
  .results h2 {
    font-size: 14px;
  }
  .results {
    margin-top: 0px;
    margin: 0px auto;
    padding: 10px 10px;
  }
}
@media (max-width: 667px) {
  .memory-game {
    width: 70%;
  }
  .memory-card {
    width: 85px;
    height: 85px;
  }
  .memory-game {
    gap: 10px;
  }
  #reset-button {
    font-size: 12px;
    width: 150px;
    height: 60px;
  }
  .results h2 {
    font-size: 14px;
  }
  .results {
    margin-top: 0px;
    margin: 0px auto;
    padding: 10px 10px;
  }
}

@media (max-width: 546px) {
  .memory-game {
    width: 100%;
  }
  .memory-card {
    width: 65px;
    height: 65px;
  }
  .memory-game {
    gap: 10px;
  }
  #reset-button {
    font-size: 12px;
    width: 150px;
    height: 60px;
  }
  .results h2 {
    font-size: 14px;
  }
  .results {
    margin-top: 0px;
    margin: 0px auto;
    padding: 10px 10px;
  }
}
@media (max-width: 500px) {
  .container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .memory-game {
    width: 80%;
  }
  .memory-card {
    width: 65px;
    height: 65px;
  }
  .memory-game {
    gap: 10px;
    padding-bottom: 25px;
  }
  #reset-button {
    font-size: 12px;
    width: 130px;
    height: 60px;
  }
  .results h2 {
    font-size: 14px;
  }
  .results {
    margin-top: 0px;
    margin: 0px auto;
    padding: 10px 10px;
  }
  .results-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}
/* Портретная ориентация */
@media (orientation: portrait) {
  .container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .memory-game {
    width: 80%;
  }
  .memory-card {
    width: 65px;
    height: 65px;
  }
  .memory-game {
    gap: 10px;
    padding-bottom: 25px;
  }
  #reset-button {
    font-size: 12px;
    width: 130px;
    height: 60px;
  }
  .results h2 {
    font-size: 14px;
  }
  .results {
    margin-top: 0px;
    margin: 0px auto;
    padding: 10px 10px;
  }
  .results-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}

/* Ландшафтная ориентация */
@media (orientation: landscape) {
  .memory-card {
    width: 75px;
    height: 75px;
  }
  .memory-game {
    gap: 15px;
  }
  #reset-button {
    font-size: 14px;
    width: 160px;
    height: 70px;
  }
  .results h2 {
    font-size: 16px;
  }
  .results {
    margin-top: 10px;
    margin: 0px auto;
    padding: 15px 15px;
  }
}
